<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<appSettings>
		<add key="CSVPath" value="dodati putanju"/>
		<add key="LogPath" value=""/>
	</appSettings>

	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="SensorBinding"
						 transferMode="Streamed"
						 maxReceivedMessageSize="65536000"
						 receiveTimeout="00:10:00"
						 sendTimeout="00:10:00"
						 openTimeout="00:01:00"
						 closeTimeout="00:01:00">
				</binding>
			</netTcpBinding>
		</bindings>

		<client>
			<endpoint
				address="net.tcp://localhost:9001/Sensor"
				binding="netTcpBinding"
				bindingConfiguration="SensorBinding"
				contract="Service.ISensorService"
				name="SensorEndpoint" />
		</client>
		</system.serviceModel>
</configuration>